<div style="width: 100%; background-color: #ebeef2;">
  <div style="width: 600px; padding: 24px; margin: auto; background-color: #ffffff;">
    <h4>Hi <%= @student_submission.first_name %>,</h4>

    <p>Congratulations on being chosen as your school's representative for this year's EDGE Youth Leadership conference!</p>

    <p>The final step to confirm your spot at EDGE is to fill out our online registration form as soon as possible here:</p>
    <p><%= @student_submission.form_url %></p>

    <p>Details about the EDGE conference can be found in our in information packet: <a href='http://www.edgeyl.org/reginfo'>HERE</a></p>

    <p>You can learn more about us on our website: www.edgeyl.org.
    Please feel free to contact us with any questions or concerns through email at registration@edgeyl.org or by phone at 510-408-6606. Our staff can respond most quickly to e-mails.</p>

    <p>Si necesita más información en español o quiere hablar con algún consejero, por favor mande un correo electrónico a registration@edgeyl.org con su nombre, teléfono, y una explicación breve de la o las preguntas que tenga.</p>

    <p>Best,</p>
    <h4>The EDGE Recruitment Team</h4>
    <img style="max-height: 72px;" src="https://9c404004ce0d907890fa-fbe50a01167c9238a8e63220e2af5ab8.ssl.cf1.rackcdn.com/user_photo-561f019532d91.jpg">
  </div>
</div>

