Hi <%= @student_submission.first_name %>,

Thank you for completing your registration.

Please review the information below for accuracy. Please email any corrections or questions to registration@edgeyl.org.</p>

General Information
...

Best,
The EDGE Recruitment Team
