<div style="width: 600px; margin: auto;">
  <div style="width: 100%; height: 48px; background-color: #68b1de;" />
  <h4>Hi <%= @primary_contact.first_name %>,</h4>

  <p>Thank you for your student selection. We can't wait to meet your student at the upcoming conference!</p>

  <p>Your student was sent a link to confirm the rest of their registration process.</p>

  <p>Please review the information below for accuracy. Please email any corrections to registration@edgeyl.org.</p>

  <h4>School Information: CONFIRMATION DATA</h4>

  <p>Best,</p>
  <h4>EDGE 2016 Recruitment Team</h4>
  <img style="max-height: 72px;" src="https://9c404004ce0d907890fa-fbe50a01167c9238a8e63220e2af5ab8.ssl.cf1.rackcdn.com/user_photo-561f019532d91.jpg" />
</div>
