<h4>Hi <%= @primary_contact.first_name %>,</h4>

<p>Thank you for your student selection. We can't wait to meet your student at the seminar June 3 to June 5, 2016!</p>

<p>Your student was sent a link to confirm the rest of the registration process.</p>

<p>Please review the information below for accuracy. Please email any corrections to registration@edgeyl.org.</p>

<h4>
School Information:
CONFIRMATION DATA
</h4>

<p>Best,</p>
<h4>EDGE 2016 Recruitment Team</h4>
